
/* *{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
} */
.header{
    margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 2fr;
   }
   .header .imagelogo {
      display: grid;
      justify-content: center;
   }
   
   
   
   .imagelogo img { 
       margin: 0 auto;
     width: 100%;
     max-width: 100%;
   }
   .header nav{
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      align-items: center;
   gap: 20px;
   }
   .header .nav ul {
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 2rem
   }
   .header .nav ul li{
       display: grid;
       list-style: none;
   justify-content: center;
   }
   
   
   .header .nav .stores {
       max-width: 200px;
       display: grid;
       }
       .header .nav .stores a{
           top: 10px;
           color: white;  
           background-color: #c00020;
           display: grid;
          min-width: 200px;
          min-height: 40px;
         justify-items: center;
         align-items: center;
           border-radius: 15px;
       }
   
   .main_section {
   
       margin: 0 auto;
       position: relative;
   }
   .main_section .img_sec{
       display: grid;
       position: absolute;
       top: 38%;
       left: 26%;
       justify-content: center;
       justify-items: center;
   }
   /* .wait{
       position: relative;
   }
   .wit1{ 
       background: #fff;
       color: #000;
      position: absolute;
       min-width: 50px;
       min-height: 50px;
     
       position: absolute;
       top: 200px;
       transform: scaleX(-1);
       left: 30px;
   
   border-radius: 48px;
   font-weight: 700;
   }
   .wit2{  background:#c00020;
       color: #000;
      position: absolute;
       min-width: 50px;
       min-height: 50px;
       position: absolute;
       top: 200px;
   border-radius: 48px;
   
   font-weight: 700;
   }
   .wit3{ 
       background:#c00020;
     border-radius: 50px;
     min-width: 50px;
    
     min-height: 50px;
     position: absolute;
     right: 30px;
     transform: rotate(-90deg);
    
   
     position: fixed;
   }
   
   .wit1 img{
    position: absolute;
    top: -10px;
    right: -3px;
   }
   .wit2 img{
      position: absolute;
      top: -10px;
      left:3px;
   }
   
   .wit3 img{
       position: absolute;
       top: -10px;
       left:3px;
   }  */
   
   
   
   .main .section1{
       color: aliceblue;
       position: relative;
       background-size: cover;
       padding-bottom: 16px;
       margin: 0%;
       height: 100%;
       width: 100%;
   
   }
   .main .section1 img{
    width: 100%;
   }
   .main .img1_main h1{
       margin-top: 20px;
       margin-bottom: 30px;
       text-align: center;
       color: #fff;
         }
    .main .sec1-desc p{
           font-size: 24px;
           margin: 0%;
           padding-bottom: 20px;
           color: #fff;
       }
       .main .explore a:hover {
           background-color: #c00020;
           color: aliceblue;
       }  
       .explore {
           max-width: 400px;
           max-height: 40px;
          
       }
       .explore a {
           background-color: aliceblue;
           text-align: center; 
           color: #c00020;
           font-size: 20px;
           display: grid;
          font-size: 20px;
           min-width: 200px;
           min-height: 60px;
           align-content:center ;
       border-radius: 15px;
       }
       .main .empty_ul {
   
           display: grid;
           justify-items: center;
       }
       
   .main .empty_ul  ul{
    color: #c00020;
   display: grid;
   padding: 0%;
   margin: 0%;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   min-width: 5px;
   max-width: 40px;
   max-height: 10px;
   gap: 10px;
     
   }
     .main .empty_ul li{
           padding: 0%;
           margin: 0%;     
     }
    
     
     .main .empty_ul .li_1{
       background-color: #c00020;
       min-width: 40px;
       min-height: 10px;
       display: inline-block;
       border-radius: 15px;
     }
     .main .empty_ul .li_2
     {
       background-color: #000;
       min-width: 40px;
       min-height: 10px;
       border-radius: 15px;
       display: grid;
     }
   
    /* .T_Pa_t_blak_im2{
       margin: 0 auto;
       grid-template-columns: 1fr 2fr;
     justify-content: space-evenly;
   } */
   
   
    .T_Pa_t_blak_im2{ 
       background: url(https://www.naturasusa.com/static/f4e9e0a6999974ba1d2a05c43e1e1992f01b7d4267c246ac1f34d01a4b5e631a/resources/icons/tomatoes.svg);
     display: grid;
     max-width: 100%;
     border-radius: 15px;
     padding-top: 60px;
     background-position: 38%;
     background-repeat: no-repeat;
     justify-items: start;
     margin: 0 auto;
     grid-template-columns: 1fr 2fr;
   justify-content: space-evenly;
   }
   
   .T_Pa_t_blak_im2 .h2_p_but{
       display: grid;
       justify-content: space-evenly;
     
    }
   .h2_sect2 h2 {
       max-width: 430px;
       font-size: 20px;
       color: #c00020;
       width: 300px;
        position: relative;
       background-position: center;
       background-size: auto;
       margin: 20px 0px 20px 0px ;
   } 
   
   .h2_sect2 h2::before {
       background-image: url(./green-underline.svg);
       width: 107%;
       height: 10PX;
       background-repeat: repeat-x;
       top: -62%;
       content: " ";
       position: absolute;
       line-height: 30px;
       left: -42px;
   }
   .h2_sect2 h2::after{
       top: -100%;
       content: url(./red&green1.svg);
      position: absolute;
      left:300px;
   }
   .h2_p_but p{
   max-width: 297px;
       font-size: 20px;
       margin: 0%;
       padding-bottom: 20px;
   }
   .t_image2 {
       width: 100%;
       margin-right: 0px;
    display: grid;
    align-items: end;
    justify-items: center;
    align-content: center;
     
   }
   .t_image2 img{
       display: grid;
       justify-items: start;
       width: 86%;
      border-radius: 15px;
   
   } 
   .know{
       max-width: 200px;
   }
   
   .know a{
       background-color: #c00020;
           text-align: center; 
       color: #fff;
           font-size: 20px;
           display: grid;
          font-size: 20px;
           min-width: 150px;
           min-height: 60px;
           align-content:center ;
       border-radius: 15px;
   }
   .natur_all{
       display: grid;
       justify-content: center;
       margin: 0 auto;
       max-width: 1440px;
    
   } 
   
   .natur_all .natura_para h2 {
       color: #c00020;
       font-size: 50px;
    text-align: center;
    margin: 0%;
       
   }
   
   .natura_imges h2::after{
       content: url(./leaf-icon.svg);
       padding-right: 20px;
   }
   
   .natura_imges h2::before{
       content: url(./leaf-icon.svg);
       padding-right: 20px;
       
   }
   .natur_all .natura_para p{  
     font-size: 20px;
       margin-top: 0%;  
       margin-bottom: 0%;
       line-height: 40px;
       text-align: center;
   }
   
   
    .natur_all .sauces_refried {
       display: grid;  
       padding: 56px 80px 30px 80px;
       grid-template-columns: 1fr 1fr;
        list-style: none;
        padding-bottom: 40px;
       max-width: 100%;
        align-items: center;
       justify-content: center;
       gap: 30px;
   
       
    }
    .natur_all .refried_beans{
       display: grid;
       border: 1px solid ;
       border-radius: 15px;
       text-align: center;
       align-items: center;
       padding: 20px 40px;
   
    }
    
    .natur_all .refried_beans h2{
       color: #c00020;
       margin: 0%;
       font-size: 30px;
       padding-top: 1%;
       padding-bottom: 1%;
       font-weight: 400;
   }
   .natur_all .imag_sauces img{
       width: 100%;
           border-radius: 1px ;
       }
       
       .natur_all .KnowMore {
       padding-bottom: 30px;
       padding-top: 20px;
       margin: 0%;
       margin-top: 10px;
       margin-bottom: 10px;
       display: grid;
       justify-items: center;
   }
   .natur_all .KnowMore a{
    
       background-color: #c00020;
           text-align: center; 
           color: #fff;
           font-size: 20px;
           display: grid;
          font-size: 20px;
           min-width: 200px;
           min-height: 60px;
           align-content:center ;
       border-radius: 15px;
      
   }
   .reco_para{
       margin: 0 auto;
       max-width: 1440px;
       align-items: center;
   
   }
   .recognize h2{
       position: relative;
       color: #c00020;
       font-size: 30px;
       padding-top: 1%;
       /* padding-bottom: 10px; */
       margin: 0%;
   }
   
   .reco_para .para p{
       display: grid;
       font-size: 20px;
       align-items: center;
      justify-content: center;
      margin: 0%;
   }
   
   .recognize h2::after{
       padding-left: 10px;
       content: url(./red&green.svg);
       display: inline;
       position: absolute;
       top: -10px;
   }
   
   .tree_view{
       margin: 0 auto;
       max-width: 1440px;
       align-items: center;
   
       display: grid;
       padding-top: 20PX;
       width: 100%;
       padding-bottom: 60px;
   
   }
   .tree_view .tree_imageinrow {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content:center;
      text-align: center;
      padding: 30px;
      gap: 20px;
      min-width: 300px;
     border-radius: 20px;
   
   }
    .treeimg img{
       width: 100%;
       border-radius: 15px;
    }
   .h2_p1_b div a{
       color: #c00020;
       font-size: 20px;
   margin: 20px;
   text-align: center;
   border-radius: 15px;
   }
   .h2_p1_b p{
       font-size: 20px;
       margin-bottom: 25px;
     
   }
   .h2_p1_b {
       margin: 0%;
   } 
   .treeimg a{
       font-size: 20px;
   }
   .treeimg {
       position: relative;
      
   }
   .view{
       width: 100%;
         text-align: center;
           border-radius: 15px;  
         padding-right:0% ;
         display: grid;
         justify-content: space-evenly; 
         padding-top: 20px;
   }
   .view a{
       
       background-color: #c00020;
      
       text-align: center; 
       color: #fff;
       font-size: 20px;
       display: grid;
      font-size: 20px;
       min-width: 200px;
       min-height: 60px;
       align-content:center ;
   border-radius: 15px;
   }
   .empty{  
       display: grid; 
       min-width: 100px;
       color:aliceblue;    
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       font-size: 20px;
       background: #8ba800;
       font-weight: 400;
      
       position: absolute;
       top:40px;
       min-height: 40px;
       align-content: center;
   
   
   }
   
   .empty1{ 
       display: grid; 
       min-width: 100px;
       min-height: 40px;
       color:aliceblue;    
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       text-align: center;
       font-size: 20px;
       background: #8ba800;
       font-weight: 400;
       position: absolute;
       top:40px;
       align-content: center;
   
   }
   .empty2{  
       display: grid; 
       min-width: 100px;
       min-height: 40px;
       color:aliceblue;    
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       text-align: center;
       font-size: 20px;
       background: #8ba800;
       font-weight: 400;
      align-content: center;
       position: absolute;
       top:40px;
   }
   
   
   .our_events{
       display: grid;
     justify-content: center;
     grid-template-columns: 1fr 2fr ;
       align-items: center;
       padding: 20px;
   }
   
   .our_events .our_p_but{
       display: grid;
       position: relative;
   
   }
   .our_p_but p{
       display: grid;
       font-size: 20px;
       padding-bottom: 6%;
       margin-top: 0%;
   }
   
   .our_p_but h2{
       color: #c00020;
       font-size: 30px;
   }
   .our_events .power_power{
       display: grid;
       gap: 10px;
       grid-template-columns: 1fr 1fr;
   }
   .hou_power{
   border: 1px solid ;
   text-align: center;
       border-radius: 15px;
       position: relative;
   
   }
   
   .our_img1 img{
       width: 100%;
   border-radius: 15px;
   }
   .our_img2 img{
    width: 100%;
       border-radius: 15px;
       }
    .or_a_p a{
           color: #c00020;
           font-size: 20px;
       }
   .or_a_p p{
               font-size: 18px;
               margin-top: 20px;
        }
   .was1{
        
           font-weight: 400px;
           left: 0%;
           top:25px;
         display: grid; 
       min-width: 200px;
       min-height: 20px;
       color:aliceblue;    
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       text-align: center;
       font-size: 16px;
       background: #c00020;
       font-weight: 400;
       padding: 10px;
       position: absolute;
       align-items: center;
   
       }
       
       .was2{
           left: 0%;
           top:25px;
           display: grid; 
       min-width: 200px;
       min-height: 20px;
       color:aliceblue;    
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
       text-align: center;
       font-size: 16px;
       background: #c00020;
       font-weight: 400;
       padding: 10px;
       position: absolute;
       align-items: center;
       }
       .our_p_but p::after {
           background-image: url(./green-underline.svg);
           width: 100%;
           height: 10PX;
           background-repeat: repeat-x; 
          top: 60%; 
            content: " "; 
            bottom: 45%;
           position: absolute;
           line-height: 30px;
           left: -20px;
       }
       .view_more{
           padding-top: 30px;
           max-width: 200px;
           margin-top: 30px;
       }
       .view_more a{
       
           background-color: #c00020;
           text-align: center; 
           color: #fff;
           font-size: 20px;
           display: grid;
          font-size: 20px;
           min-width: 200px;
           min-height: 60px;
           align-content:center ;
       border-radius: 15px;
       }
       
       .join {
           max-width: 1440px;
           margin: 0 auto;
   
           align-items: center;
       
           text-align: center;
           padding-top:1%;
           position: relative;
       }
       .join h2::after{
           background-image: url(./green-underline.svg);
           position: absolute;
           width: 15%;
       height: 10PX;
       content: "";
       bottom: 140px;
       right: 315px;
       }
       
       .join h2::before{
           background-image: url(./green-underline.svg);
           position: absolute;
           width: 15%;
       height: 10PX;
       content: "";
       bottom: 140px;
       left: 315px;
       }
       .join h2{
           color: #c00020;
           font-size: 30px;
           margin-bottom: 20px;
           margin-top: 30px;
       }
       .join p{
           margin-bottom: 30px;
           margin-left: 20%;
           margin-right: 5%;
           font-size: 20px;
           margin-top: 0%;
           margin-right: 25%;
       }
       .row_images{
           max-width: 1440px;
           margin: 0 auto;
           align-items: center;
         display: grid;
         max-width: 1370px;
           padding: 20px;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           align-items: center;
       }
        .row_images img{
         width: 98%;
       }
       /* .join p::after {
           background-image: url(./green-underline.svg);
           width: 107%;
           height: 10PX;
           /* content: url(./leaf-icon.svg); */
           /* background-repeat: repeat-x; */
           /* background-size: auto; */
           /* top: -20%;
           content: " ";
           position: absolute;
           line-height: 30px;
         
       } */
      
       .in_footer1{
           max-width: 1440px;
           margin: 0 auto;
           align-items: center;
           display: grid;
           width: 100%;
           position: relative;
           grid-template-columns: 1fr 2fr;
       }
       .footer1{
        position: relative;
       }
       .footer1::before
           {
               background: url(./footer-tile-bg-lt.svg) repeat;
               background-size: 20px;
               content: "";
               height: 100%;
               position: absolute;
               width: 20px;
           }
           
       .footer1::after
       {
           background: url(./footer-tile-bg-lt.svg) repeat;
           background-size: 20px;
           content: "";
           height: 100%;
           position: absolute;
           top: 0;
           right: 0%;
           width: 20px;
         transform: scaleX(-1);
       }
       .logo_social{
           padding-left: 50px;
           margin-top: 100px;
       }
       .logo{
           border-bottom: 1px solid ;
       }
       .social_h2 h2{
           padding-left: 3 0px;
           margin-right: 0%;
           font-size: 20px;
           color: #c00020;
   
           
       }
       .social{
           padding-top: 20px;
       }
       .social .social_h2{
           position:relative;
       }
   .social_h2 h2::after{
       content: url(./insta_icon.svg);
       position: absolute;
       top: -10px;
       padding-left: 10px;
   }
       .last_section {
           padding: 20px;
           width: 80%;
           padding-top: 40px;
           justify-content: space-evenly;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
           text-align: center;
       }
       .natur_1 {
           padding: 0% ;  
   
       }
       .natur_1 ul{
           padding: 10px;
       }
       .natur_1 ul li{
           font-size: 20px;
           margin-bottom: 20px;
           list-style: none;
           border-bottom: 1px solid ;
       }
       .limit{
           width: 40%;
           margin-left: 20%;
       }
       
       .limit_p1{
           border-top: 1px solid ;
           text-align: center;
           margin-top: 20px;
           font-size: 20px;
         
          
       }
   
       .limit_p2{
           margin-top: 20px;
           border-bottom: 1px solid ;
           margin-top: 20px;
           font-size: 20px;
           margin-bottom: 50px;
           text-align: center;
          
        
       }
       .unilever {
           background-color: #c00020;
           text-align: center;  
           padding-bottom: 20px;
       }
       .unilever img {
           width:80px;
           padding-top: 35px;
             }
             .unilever a{
               color: white;
               font-size: 20px;
   
           }
           span{
               background-color: #e6fe4b;
           }
           footer{
               width: 100%;
               background-color: antiquewhite;
           }
           
   a{
       text-decoration: none;
       color: black;
   }