
body{
    /* min-width:1200px; */
    max-width: 1684px;
}

.header{
    max-width: 1684px;
    /* margin-left: 10%;
    display:inline-block;
    min-width: 1000px; */
}
.h_a_p_r_e{
  
}
.section1 img{
    max-width: 1600px;
}