/* 
@media screen and (max-width: 1440px){
    .header {
        margin: 0, auto;
        grid-template-columns: 1fr 2fr;

    }
  
.main_section .img_sec{
    position: absolute;
    top: 50%;
    left: 26%;
    justify-content: center;
    justify-items: center;
}.T_Pa_t_blak_im2 .h2_p_but{
    min-width: 400px;
    line-height: 2rem;
}
.t_image2{
    justify-items: center;
} 
.reco_para{
    padding: 20px;
    line-height: 2rem;
}

.tree_view{
    display: grid;
    padding-top: 20PX;
    width: 100%;
    padding-bottom: 60px;
}
.join h2::before{
    bottom: 140px;
    left: 345px;
    width: 15%;
}
.join h2::after{
    width: 15%;
    bottom: 140px;
    right: 345px;
}


} */


@media screen and (max-width: 425px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .header {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    display: grid;
    }

    .header .imagelogo {
        padding-left: 0;
        justify-content: center;
    }

    .header nav {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .header .nav ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .header .nav .stores {
        max-width: 100%;
            margin: 0 auto;
        }

        .header .nav .stores a {
        min-width: 100%;
        text-align: center;
    }
    .main_section{
        padding-bottom: 20px;
    }


    .main_section .img_sec {
        top: 27%;
        left: 9%;
    }

    .main .section1 {
        padding-bottom: 8px;
        justify-items: center;
    }
    

    .main .sec1-desc p {
        font-size: 18px;
    }

    .explore {
        max-width: 100%;
        text-align: center;
    }

    .explore a {
        font-size: 16px;
        min-width: 100%;
        min-height: 50px;
    }

    .main .empty_ul ul {
        grid-template-columns: 1fr 1fr;
    }
    .T_Pa_t_blak_im2 {
        grid-template-columns: 1fr;
    }
      .T_Pa_t_blak_im2 .h2_p_but{

      justify-content: center;
     
      }
      .T_Pa_t_blak_im2 .h2_p_but .know{
            padding-bottom: 20px;
      }
      .natur_all .natura_para{
        max-width: 430px;

      }
    .natur_all .sauces_refried {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .natur_all .refried_beans {
        padding: 10px 20px;
    }

    .natur_all .refried_beans h2 {
        font-size: 24px;
    }

    .tree_view .tree_imageinrow {
        grid-template-columns: 1fr;
    }
.h2_p1_b{
    padding-bottom: 20px;
}
    .our_events {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .our_events .power_power {
        grid-template-columns: 1fr;
    }
    .view_more{
display: grid;
justify-content: center;
        padding-bottom: 20px;
    }
    .row_images{
        grid-template-columns: 1fr;
        padding: 20px;
       
    }

    .footer1 {
        grid-template-columns: 1fr;
    }

    .last_section {
        grid-template-columns: 1fr;
        padding: 20px;
        margin-left: 0;
    }
}
