*{
    margin: 0 auto;
}
.header {
    margin: 0 auto;
}


.imagelogo img {
    width: 100%;
}

.header .nav ul li {
    margin: 10px;
    list-style: none;
    text-align: center;
}
.header .nav .stores{
    margin-left: 40px;
    margin-right:40px ;
}
.header .nav .stores a {
    color: white;
    text-align: center;
    height: 40px;
    background-color: #c00020;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
}
main{
    position: relative;
}
main .img_sec{
    top: 25%;
    left: 10%;
position: absolute;
 

}
.main_section {
  position: relative;
    color: aliceblue;
    padding-top: 20%;
    background-size: cover;
    padding-bottom: 3%;
    margin: 0%;
        padding: 0%;
}
/* 
.main_section {
    color: aliceblue;
    padding-top: 20%;
    background: url(./natura_logo.avif);
    background-size: cover;
    padding-bottom: 3%;
    margin: 0%;
} */

.main_section .img_sec {
    text-align: center;
    margin: 0 auto;
   
}

.main .section1 {
    color: #000;
    position: relative;
    background-size: cover;
    padding-bottom: 16px;
    margin: 0%;
    height: 100%;
}

.main .section1 img {
    width: 100%;
}

.main .img1_main h1 {
    color: #fff;
    font-size: 18px;
}

.main .sec1-desc p {
    font-size: 14px;
    margin: 0%;
    color: #fff;
}

.main .explore a:hover {
    background-color: #c00020;
    color: aliceblue;
}
.main .explore{
    margin-left: 40px;
    margin-right:40px ;
   
}

.explore a {
    text-align: center;
    width: 80%;
    height: 38px;
    background-color: #fff;
    border-radius: 15px;
    color: #c00020;
    display: block;
 margin-bottom: auto;
    font-size: 14px;
}
.T_Pa_t_blak_im2 {
    background: url(https://www.naturasusa.com/static/f4e9e0a6999974ba1d2a05c43e1e1992f01b7d4267c246ac1f34d01a4b5e631a/resources/icons/tomatoes.svg);
    position: relative;
    border-radius: 15px;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-position: 38%;
}

.T_Pa_t_blak_im2 .h2_p_but {
    text-align: center;
    padding-bottom: 20px;
}

.h2_sect2 h2 {
    font-size: 20px;
    color: #c00020;
    position: relative;
    background-size: auto;
    margin: 20px 0px 20px 0px;
}

.T_Pa_t_blak_im2 .h2_sect2 {
    text-align: center;
}

.h2_sect2 h2::before {
    background-image: url(./green-underline.svg);
    width: 100%;
    height: 10px;
    background-repeat: repeat-x;
    top: -62%;
    content: " ";
    position: absolute;
    line-height: 30px;
    left: -42px;
}

.h2_sect2 h2::after {
    top: -100%;
    content: url(./red&green1.svg);
    position: absolute;
    right: 0px;
}

.h2_p_but p {
    font-size: 20px;
    padding-bottom: 20px;
}

.t_image2 {
    width: 100%;
    margin-right: 0px;
}

.t_image2 img {
    width: 100%;
    border-radius: 15px;
}
.T_Pa_t_blak_im2 .know {
    margin-left: 40px;
    margin-right:40px ;
}
.T_Pa_t_blak_im2 .know a {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #c00020;
    border-radius: 15px;
    color:#fff;
    display: block;
    font-size: 20px;
}

.natur_all {
    max-width: 100%;
}

.natura_para {
    text-align: center;
}

.natur_all .natura_para h2 {
    color: #c00020;
    font-size: 30px;
    text-align: center;
}

.natura_imges h2::after {
    content: url(./leaf-icon.svg);
}

.natura_imges h2::before {
    content: url(./leaf-icon.svg);
}

.natur_all .natura_para p {
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.natur_all .sauces_refried {
    list-style: none;
    margin-top: 20px;
}

.natur_all .refried_beans {
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    padding: 20px 40px;
}

.sauces_beans {
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    padding: 20px 40px;
    margin-top: 20px;
}

.sauces_beans h2 {
    color: #c00020;

    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 400;
}

.natur_all .refried_beans h2 {
    color: #c00020;

    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 400;
}

.natur_all .imag_sauces img {
    width: 100%;
    border-radius: 1px;
}

.natur_all .KnowMore a {
    background-color: #c00020;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    display: block;
}

.reco_para {
    padding: 36px;
}

.recognize h2 {
    position: relative;
    color: #c00020;
    font-size: 30px;
    padding-top: 1%;
}

.reco_para .para p {
    font-size: 20px;
}

.tree_view {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 60px;
}

.tree_view .tree_imageinrow {
    text-align: center;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.tree_view .tree_imageinrow .h2_p1_b {
    padding-bottom: 20px;
}

.treeimg img {
    width: 100%;
    border-radius: 15px;
}

.h2_p1_b div a {
    color: #c00020;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
}

.h2_p1_b p {
    font-size: 20px;
    margin-bottom: 25px;
}

.treeimg a {
    font-size: 20px;
}

.treeimg {
    position: relative;
}
.view {
    margin-left: 40px;
    margin-right:40px ;
}
.view_more a{
    background-color: #c00020;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    display: block;
}

.view a {
    background-color: #c00020;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    display: block;
}

.empty {
    color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    background: #8ba800;
    font-weight: 400;
    position: absolute;
    top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 50px;
}

.empty1 {
    color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    background: #8ba800;
    font-weight: 400;
    position: absolute;
    top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 50px;
}

.empty2 {
    color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    background: #8ba800;
    font-weight: 400;
    position: absolute;
    top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 50px;
}

.our_events {
    padding: 46px;
}

.our_events .our_p_but {
    position: relative;
    padding-bottom: 20px;
}

.our_p_but p {
    font-size: 20px;
    padding-bottom: 6%;
    margin-top: 0%;
}

.our_p_but h2 {
    color: #c00020;
    font-size: 30px;
}

.hou_power {
    border: 1px solid;
    text-align: center;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

.our_img1 img {
    width: 100%;
    border-radius: 15px;
}

.our_img2 img {
    width: 100%;
    border-radius: 15px;
}

.or_a_p a {
    color: #c00020;
    font-size: 20px;
}

.or_a_p p {
    font-size: 18px;
    margin-top: 20px;
}

.was1 {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 40px;
    color: aliceblue;
    font-weight: 400px;
    left: 0%;
    top: 25px;
    color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    font-size: 16px;
    background: #c00020;
}

.was2 {
    left: 0%;
    top: 25px;
    position: absolute;
    display: block;
    width: 50%;
    height: 40px;
    color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    font-size: 16px;
    background: #c00020;
   
}

.our_p_but p::after {
    background-image: url(./green-underline.svg);
    height: 10px;
    background-repeat: repeat-x;
    top: 60%;
    content: " ";
    bottom: 45%;
    position: absolute;
    line-height: 30px;
    left: -20px;
}

.view_more a {
    background-color: #c00020;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    display: block;
}

.join {
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
    position: relative;
    padding: 36px;
}

.join h2::after {
    background-image: url(./green-underline.svg);
    position: absolute;
    width: 15%;
    height: 10px;
    content: "";

    top: 27%;
    left: 280px;
}

.join h2::before {
    background-image: url(./green-underline.svg);
    position: absolute;
    width: 15%;
    height: 10px;
    content: "";
    right: 280px;
    top: 27%;
}

.join h2 {
    align-items: center;
    color: #c00020;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.join p {
    font-size: 20px;
}

.row_images {
    gap: 20px;
    margin-bottom: 20px;
}

.row_images img {
    width: 100%;
}

.footer {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.in_footer1 {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.footer1 {
    margin: 20px;
}

.footer1::before {
    background: url(/images/footer-tile-bg-lt.svg) repeat;
    background-size: 20px;
    content: "";
    height: 81%;
    position: absolute;
    width: 20px;
}

.footer1::after {
    background: url(/images/footer-tile-bg-lt.svg) repeat;
    background-size: 20px;
    content: "";
    height: 81%;
    position: absolute;
    right: 0%;
    width: 20px;
    transform: scaleX(-1);
    top: 0%;
}

.logo_social {
    padding-left: 50px;
    margin-top: 100px;
}

.logo {
    border-bottom: 1px solid;
}

.social_h2 h2 {
    padding-left: 3 0px;
    margin-right: 0%;
    font-size: 20px;
    color: #c00020;
}

.social {
    padding-top: 20px;
}

.social .social_h2 {
    position: relative;
}

.social_h2 h2::after {
    content: url(./insta_icon.svg);
    position: absolute;
    right: 37%;
    padding-left: 10px;
}

.last_section {
    margin: 30px;
    width: 80%;
    padding-top: 40px;
}

.natur_1 {
    padding: 0%;
}

.natur_1 ul {
    padding: 0%;
}

.natur_1 ul li {
    font-size: 20px;
    margin-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid;
}

.limit {
    width: 40%;
    margin-left: 20%;
}

.limit_p1 {
    border-top: 1px solid;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.limit_p2 {
    margin-top: 20px;
    border-bottom: 1px solid;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.unilever {
    background-color: #c00020;
    text-align: center;
    padding-bottom: 20px;
}

.unilever img {
    width: 80px;
    padding-top: 35px;
}

.unilever a {
    color: white;
    font-size: 20px;
}

span {
    background-color: #e6fe4b;
}

footer {
    width: 100%;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
    color: black;
}